*
{
  /*Dark theme*/
  background-color: #121212;
  color : white;
  /*Light Theme*/
  background-color: white;
  color: black;
}

#FixedHeader
{
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  background-color: white;
  border-bottom: 10px black solid;
}

#containerFixedHeader
{
  display: flex;
  justify-content: space-around;
}

#containerLeftFixedHeader
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#containerRightFixedHeader
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#containerSectionHeader
{
  position: fixed; 
  display: flex;
  width: 99.3%; /*should be 100% but there is a bug*/
  height: 30px;
  justify-content: space-around;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 1px 1px 20px 20px;
}

#containerSideMenu
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#containerContentAndSideBar
{
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#containerFooter
{
  display: flex;
  flex-direction: row;
}

#content
{
  padding-left: 2%;
  width:80%
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside
{
  width:18%
  display: block;
}

section
{
  padding-top: 100px;
}

/*#containerSideMenu input
{
  font-weight: bold;
  background : yellow;
}*/

.theme {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 220, 0, 1);
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.theme:hover {
  background-color: rgba(255, 255, 0, 1);
}

.theme:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

img:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 0, 0.67);
  -moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 0, 0.67);
  box-shadow:         0px 0px 30px 0px rgba(255, 255, 0, 0.67);
}

#postIdeaLabel
{
  color: white;
  background-color: #080042;
  border-top: 10px #080042;
  border-bottom: 10px #080042;
  border-right: 10px #080042;
  border-radius: 0px 10px 10px 0px;
  height: 90px;
  vertical-align: middle;
}

.idea
{
  padding-left: 10px;
  padding-right: 10px;
  border: black solid 2px;
  border-radius: 12px 12px 12px 12px;
  height: 200px;
  width: 100%; /*might be changed */
  margin-bottom: 20px;
}

.containerIdea
{
  display: flex;
  flex-direction: row;
}

.containerLeftColumnIdea
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100px;
  height: 200px;
}

.containerRightColumnIdea
{
  display: flex;
  flex-direction: column;
  height: 90px;
}

.containerVoteIdea
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
